@model IEnumerable<Mvc__EMS.Models.EmployeeModel>

@{
    ViewBag.Title = "EmployeeeView";
    WebGrid grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canPage: true);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRemarks, autoSortAndPage: false);
}

<h2>EmployeeeView</h2>

@grid.GetHtml(columns: new []{
    grid.Column("Text"),
    grid.Column("CreateTimeStamps")
    
})
